<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p style = "font-size:18px">
  This is IS&E's Task 2& Task 3 assignment. I try to do my best to my this website perfect, but as it is still building, there may be some bugs.
</p>