<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p style = "font-size:20px">
  Hello World! I'm Sorry that there is no contact information now, please return to other pages to enjoy this website!
</p>